manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: badjeff
      url-base: https://github.com/badjeff
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: v0.3
      import: app/west.yml
    - name: zmk-behavior-mouse-key-toggle
      remote: badjeff
      revision: 4ad250241b1a90acfdd01d363f91e5336f9744fc
  self:
    path: config
