config SHIELD_NIJUNI
    bool

config SHIELD_NIJUNI_LEFT
    def_bool $(shields_list_contains,nijuni_left)
    select SHIELD_NIJUNI

config SHIELD_NIJUNI_RIGHT
    def_bool $(shields_list_contains,nijuni_right)
    select SHIELD_NIJUNI
